* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  --black: #0d114f;
  --white: #fafafa;
  --light-blue: #e0ecff;
  --blue: #3485ff;
  --background: #f6faff;
  --overlay: #040911;
  --icons-details: #a5b0c1;
  --red: #e83f5b;

  --gray-dark: #4d5e77;
  --gray-blue: #a1b2cd;
  --gray-light: #e5eaf1;
  --gray-medium: #eaecf2;

  font-size: 62.7%;
}

body {
  height: 100vh;
  background: var(--background);
  display: flex;
}

body,
button,
input,
textarea {
  font-size: clamp(14px, 1.6rem, 2vw);
  font-family: "Open Sans", sans-serif;
}

#root {
    width: 100%;
}

.sr-only {
  position: absolute;
  height: 1px;
  width: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.content {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

button,
input,
.button {
  border-radius: 0.8rem;
  height: 5rem;
}

button,
.button {
  font-family: "Poppins", sans-serif;
  line-height: 0;
  font-weight: 500;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--blue);
  color: var(--white);

  cursor: pointer;
}

button:hover,
.button:hover {
  filter: brightness(1.2);
}

button > img,
.button > img {
  margin-right: 1rem;
  width: 2rem;
}

button.outlined,
.button.outlined {
  background: var(--white);
  color: var(--blue);
  border: 0.2rem solid var(--blue);
}

button.red,
.button.red {
  background: var(--red);
  color: var(--white);
}

button.gray,
.button.gray {
  background-color: var(--gray-light);
  color: var(--gray-dark);
}

/* HEADER */

.content header {
  width: 80%;
}

.content header img {
  width: 16.7rem;
  margin-top: 3.5rem;
  height: 4.383rem;
}
